NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="public-anon-key"
SUPABASE_SERVICE_ROLE_KEY="service-role-key"
GROQ_API_KEY="your-groq-api-key"

# old db:
NEXT_PUBLIC_SUPABASE_URL="https://qyhdcegblikhlroogtsu.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5aGRjZWdibGlraGxyb29ndHN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNDkxODYsImV4cCI6MjA4OTcyNTE4Nn0.qITNsoDV0S0IMgzZtDJuJB5SRQLiAEA0KwhZ-OzXJqg"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5aGRjZWdibGlraGxyb29ndHN1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE0OTE4NiwiZXhwIjoyMDg5NzI1MTg2fQ.0o4c0nZLIlVmKNnekK1GbSAXUnaJlyf46z0bzoVhohU"
